a {
    cursor: pointer;
    text-decoration:  none;
}

.page-container  {
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;   
}

.logo {
    position: absolute;
    left: 30px;
    top: 25px;
    height: 46px;
}

img.logo {
    height: 46px;
    width: 127px;
}

.logo-language {
    position: absolute;
    left:89%;
    top:24px;
    height: 55px;
    width: 55px;
}

.link-burger {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.burger {
    position: absolute;
    left:94%;
    top:22px;
}

.barre {
    width: 38px;
    margin-top: 10px;
    border: 3px solid rgb(248, 244, 237);
    border-radius: 5px;
}

/* ------- gestion du menu ----------- */
.link-burger:hover .barre {
    border: 3px solid #ed0049;
}

.burger-menu{
    position: absolute;
    background-color: white;
    padding:13px;
    text-transform: uppercase;
    color:rgb(50,50,50);
    top:93px;
    right:63px;
    border-radius: 5px;
    line-height: 38px;
    font-size: 13px;
    font-weight: 700;
    display:none;
}

.burger-menu li a:hover {
    color: #ed0049;
}


.burger-icon-badge,
.burger-icon-langue,
.burger-icon-user,
.burger-icon-exit {
    display: block;
    position: absolute;
    right: 164px
}

.icon-badge::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/backpacking1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    width: 30px; 
    height: 25px;
    margin-top: 7px;
}

.icon-langue::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/travel-map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 30px; 
    height: 25px;
    margin-top: 7px;
}

.icon-user::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 37px;
    width: 30px; 
    height: 20px;
    margin-top: 7px;
}

.icon-exit::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/exit2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    width: 30px; 
    height: 20px;
    margin-top: 7px;
}

.show-burger .burger-menu{
    display: block;
    padding-left: 50px;
}

/* ------------------------------------ */

h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

h2 {
    margin-top: 26%;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 40px;
    text-align: center;
}

.parting {
    margin: auto;
    width: 150px;
    border: 6px solid rgb(232,12,72);
    border-radius: 5px;
}


.chevron-left {
    position: absolute;
    top: 42%;
    left: 435px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 125px; 
    color: #ed0049;
}
.chevron-left-none .chevron-left {
    display: none;
}

.learn-world {
    position: absolute;
    width: 473px;
    height: 298px;
    top:50%;
    left:34%;
    transform: translateY(-50%);
}

.chevron-right {
    position: absolute;
    top: 42%;
    right: 435px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 125px; 
    color: #ed0049;
}
.chevron-right-none .chevron-right {
    display: none;
}

.nav-left {
    position: absolute;
    top:155px;
    left:90px;
    padding-left: 55px;
    color:white;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 64px;
}

.nav-left .icon-cup::before {
    content:'';
    position: absolute;
    left: -5px;
    width: 55px;
    height: 55px;
    background: url('../../../assets/img/icon-trophy.png') no-repeat center top 5px;
    background-size:50px;
}
.nav-left .icon-win::before {
    content:'';
    position: absolute;
    top:131px;
    left: -5px;
    width: 55px;
    height: 55px;
    background: url('../../../assets/img/icon-victory.png') no-repeat center top 5px;
    background-size:33px;
}

.nav-left .icon-bad::before {
    content:'';
    position: absolute;
    top: 260px;
    left: -5px;
    width: 55px;
    height: 55px;
    background: url('../../../assets/img/icon-bad.png') no-repeat center top 5px;
    background-size:50px;
}

.nav-left p {
    margin: 5px 0 39px -51px;  
    Letter-Spacing: 1pt; 
    font-size: 22px;
}



.pseudo {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-family: 'Fjalla One', sans-serif;
    color: #ed0049;
    font-size: 32px;
}

/* ------------------------------------- */