a {
    text-decoration: none;
}

.page-container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover; 
    font-family: 'Montserrat', sans-serif;
}

.logo {
    position: absolute;
    left: 30px;
    top: 25px;
    height: 46px;
}

img.logo {
    height: 46px;
    width: 127px;
}

.logo-language {
    position: absolute;
    left:89%;
    top:24px;
    height: 55px;
    width: 55px;
}

.link-burger {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.burger {
    position: absolute;
    left:94%;
    top:22px;
}

.barre {
    width: 38px;
    margin-top: 10px;
    border: 3px solid rgb(248, 244, 237);
    border-radius: 5px;
}


/* ------- gestion du menu ----------- */
.link-burger:hover .barre {
    border: 3px solid #ed0049;
}

.burger-menu{
    position: absolute;
    background-color: white;
    padding:13px;
    text-transform: uppercase;
    color:rgb(50,50,50);
    top:93px;
    right:63px;
    border-radius: 5px;
    line-height: 38px;
    font-size: 13px;
    font-weight: 700;
    display:none;
}

.burger-menu li a:hover {
    color: #ed0049;
}


.burger-icon-level,
.burger-icon-badge,
.burger-icon-langue,
.burger-icon-user,
.burger-icon-exit {
    display: block;
    position: absolute;
    right: 164px
}

.icon-level::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/tongs.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    width: 27px; 
    height: 25px;
    margin-top: 7px;
}
.icon-badge::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/backpacking1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    width: 30px; 
    height: 25px;
    margin-top: 7px;
}

.icon-langue::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/travel-map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 30px; 
    height: 25px;
    margin-top: 7px;
}

.icon-user::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 37px;
    width: 30px; 
    height: 20px;
    margin-top: 7px;
}

.icon-exit::before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/exit2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    width: 30px; 
    height: 20px;
    margin-top: 7px;
    content:"";
}

.show-burger .burger-menu{
    display: block;
    padding-left: 50px;
}

.borderLine {
    width: 179px;
    border-bottom: 1px solid #ed0049;
    margin-left: -37px;
    padding: 4px 0;
}

/* ------------------------------------ */


.centered-container h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 47px;
    color: white;
    text-align: center;
    padding-top: 110px;
    
}
.parting {
    margin: auto;
    width: 138px;
    border: 5px solid white;
    border-radius: 5px; 
    margin-top:17px;
}

.centered-level {
    height: 420px;
    width: 52%;
    margin: auto;
    margin-top: 72px;
}

.lock-popup {
    display: none;
}

.lockLessonlock-popup {
    background-color: rgba(250, 250,250, 0.5);
    border-radius: 30px;
    box-shadow: 1px 2px 30px -5px blueviolet;
    padding: 10px;
    text-align: center;
    color: blueviolet;
    font-weight: 900;
    font-size: 22px;
}

.record {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 25px;
    padding-top: 33px;
    height: 117px;
    width: 117px;
    background-color: white;
    border-radius: 15px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    font-size: 29px;
    text-align: center;
}


.filter {
    background-color: rgba(250, 250,250, 0.5);
    height: 117px;
    width: 117px;
    cursor: no-drop;
}

/* win et parent */
.win {
    color: green;
}
/* win devient enfant du parent unit-to-do */
.unit-to-do .win {
    color: #ed0049;
}
/* idem du parent filter */
.filter .win {
    color: gray;
}

.icon-pen {
    padding-top: 12px;
    height: 40px;
    width: 40px;
}

.icon-sound {
    padding-top: 16px;
    height: 35px;
    width: 35px;
}
/* ------------------------------------------------------------------- */
/*  utilisation d'une logic automatic avec .progress-bar */
.progress-bar {
    width: 80%;
    margin-left: 5px;
    margin-top: 10px;
    border: 6px solid green;
    border-radius: 5px;
}
/* si .progress-bar devient enfant alors */
.filter .progress-bar{
    border:0;
}
/* même cas .progress-bar devient enfant */
.unit-to-do .progress-bar{
    border:0;
} 
/* -------------------------------------------------------------------- */

.pseudo {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-family: 'Fjalla One', sans-serif;
    color: #ed0049;
    font-size: 32px;
}

/* ----------------------------------------- */