.container-dashboard1,
.container-dashboard2,
.container-dashboard3
 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(24,115,173),rgb(209,250,255));
    font-family: 'Montserrat', sans-serif;   
}
.container-dashboard2 {
    background: linear-gradient(rgb(70,166,30),rgb(235,245,193));
}
.container-dashboard3 {
    background: linear-gradient(rgb(154,63,60),rgb(239,224,193));
}


.logo {
    position: absolute;
    left: 30px;
    top: 25px;
    height: 46px;
}
img.logo {
    height: 46px;
    width: 127px;
}

.logo-language {
    position: absolute;
    left:89%;
    top:24px;
    height: 55px;
    width: 55px;
}

.link-burger {
    text-decoration: none;
}
.burger {
    position: absolute;
    left:94%;
    top:22px;
}

.barre {
    width: 38px;
    margin-top: 10px;
    border: 3px solid rgb(248, 244, 237);
    border-radius: 5px;
}

.link-burger:hover .barre {
    border: 3px solid rgb(232,12,72);
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

h2 {
    margin-top: 26%;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 40px;
    text-align: center;
}

.parting {
    margin: auto;
    width: 150px;
    border: 6px solid rgb(232,12,72);
    border-radius: 5px;
}


.chevron-left {
    position: absolute;
    top: 42%;
    left: 435px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 125px; 
    color: #ed0049;
}
.chevron-left-none .chevron-left {
    display: none;
}

.learn-world {
    position: absolute;
    width: 473px;
    height: 298px;
    top:50%;
    left:34%;
    transform: translateY(-50%);
}

.chevron-right {
    position: absolute;
    top: 42%;
    right: 435px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 125px; 
    color: #ed0049;
}

.nav-left {
    position: absolute;
    top:155px;
    left:90px;
    padding-left: 55px;
    color:white;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;    
    font-size: 64px;
}

.nav-left .icon-cup::before {
    content:'';
    position: absolute;
    left: -5px;
    width: 55px;
    height: 55px;
    background: url('../../../assets/img/icon-trophy.png') no-repeat center top 5px;
    background-size:50px;
}
.nav-left .icon-win::before {
    content:'';
    position: absolute;
    top:131px;
    left: -5px;
    width: 55px;
    height: 55px;
    background: url('../../../assets/img/icon-victory.png') no-repeat center top 5px;
    background-size:33px;
}

.nav-left .icon-bad::before {
    content:'';
    position: absolute;
    top: 260px;
    left: -5px;
    width: 55px;
    height: 55px;
    background: url('../../../assets/img/icon-bad.png') no-repeat center top 5px;
    background-size:50px;
}

.nav-left p {
    margin: 5px 0 39px -51px;  
    Letter-Spacing: 1pt; 
    font-size: 22px;
}

.bg-mountains{
    position: absolute;
    bottom: 0px;
    left:0px;
    width:100%;
}

.pseudo {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-family: 'Fjalla One', sans-serif;
    color: #ed0049;
    font-size: 32px;
}