a {
    cursor: pointer;
    text-decoration:  none;
}

.top-container {
    height: 100vh;
    width: 100%;
    background-color: #87D9F5;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    position: absolute;
    left: 30px;
    top: 25px;
    height: 46px;
}

img.logo {
    height: 46px;
    width: 127px;
}

.logo-language {
    position: absolute;
    left:89%;
    top:24px;
    height: 55px;
    width: 55px;
}

.link-burger {
    text-decoration: none;
    position: relative;
    cursor: pointer;

}
.burger {
    position: absolute;
    left:94%;
    top:22px;
}

.barre {
    width: 38px;
    margin-top: 10px;
    border: 3px solid rgb(248, 244, 237);
    border-radius: 5px;
}


/* ------- gestion du menu ----------- */
.link-burger:hover .barre {
    border: 3px solid #ed0049;
}
.burger-menu{
    position: absolute;
    background-color: white;
    padding:10px;
    color:rgb(50,50,50);
    top:80px;
    right:50px;
    border-radius: 5px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    display:none;
}

.show-burger .burger-menu{
    display: block;
}

/* ------------------------------------ */

/*  ------------------ texte --------------- */
.txt-left {
    position: absolute;
    top:30%;
    left:5%;
    transform: translateY(-50%);
    font-family: 'Fjalla One', sans-serif;  
    color: white;
    font-weight: 700; 
    width: 320px;
    padding-top: 30px;    
    text-align: center;
}

.txt-right {
    position: absolute;
    top:30%;
    right:5%;
    transform: translateY(-50%);
    font-family: 'Fjalla One', sans-serif;  
    color: white;
    font-weight: 700; 
    width: 320px;
    padding-top: 30px;    
    text-align: center;
}

.txt-left .big,
.txt-right .big {
    font-size: 42px;
    line-height: 50px;
    text-align: justify;
    text-transform: uppercase;
}

.txt-left .small,
.txt-right .small {
    font-size: 32px;
}

.button-game {
    display:inline-block;
    margin-top: 20px;
    margin-left: -20px;
    width: 204px;
    color:white;
    padding:10px 0;
    text-align: center;
    background-color: #ed0049;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;   
}
.button-game:hover {
    background-color: green;
}

/* ----------------------- Flag ------------------------------ */

.flag-rotate {
    transform: rotate(0deg); /* au cas ou */
}

.GB {
    top: 500px;
    left: 350px;
}
.GB:hover {
    box-shadow: 5px 5px 8px rgb(78, 116, 138);
}


.DE {
    top: 400px;
    left: 450px;
}
.DE:hover {
    box-shadow: 5px 5px 8px rgb(78, 116, 138);
}


.IT {
    top: 300px;
    left: 550px;
}
.IT:hover {
    box-shadow: 5px 5px 8px rgb(78, 116, 138);
}


.ES {
    top: 200px;
    left: 650px;
}
.ES:hover {
    box-shadow: 5px 5px 8px rgb(78, 116, 138);
}

.PT {
    top: 100px;
    left: 750px;
}
.PT:hover {
    box-shadow: 5px 5px 8px rgb(78, 116, 138);
}

.size-flag {
    position: absolute;
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 100px;
} 
/* ------------------------ endf flag ----------------------- */



.bg-mountains{
    position: absolute;
    bottom: 0px;
    left:0px;
    width:100%;
}

.speekies{
    position: absolute;
    bottom: 0px;
    right:10%;
}

.pseudo {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-family: 'Fjalla One', sans-serif;
    color: #ed0049;
    font-size: 32px;
}
