.top-container {
    height: 100vh;
    width: 100%;
    background-color: #87D9F5;
    font-family: 'Montserrat', sans-serif;
}

.pseudo {
    position: absolute;
    right: 52px;
    top: 32px;
    font-family: 'Fjalla One', sans-serif;
    color: #ed0049;
    font-size: 32px;
}

.txt-left {
    position: absolute;
    top:30%;
    left:5%;
    transform: translateY(-50%);
    font-family: 'Fjalla One', sans-serif;  
    color: white;
    font-weight: 700; 
    width: 320px;
    padding-top: 30px;    
    text-align: center;
}

.txt-left .big {
    font-size: 42px;
    line-height: 50px;
    text-align: justify;
    text-transform: uppercase;
}

.txt-left .small {
    font-size: 32px;
}

.button-game{
    display:inline-block;
    margin-top: 20px;
    margin-left: -20px;
    width: 204px;
    color:white;
    padding:10px 0;
    text-align: center;
    background-color: #ed0049;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;   
}
.button-game:hover {
    background-color: green;
}

.bg-mountains{
    position: absolute;
    bottom: 0px;
    left:0px;
    width:100%;
}

.speekies{
    position: absolute;
    bottom: 0px;
    right:10%;
}


