a {
    cursor: pointer;
    text-decoration: none;
}

.page-container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../../../assets/img/account.png");
    background-size: cover;
    font-family: "Raleway";
    color: rgb(50,50,50);
}

/*  ----------- polices de caractères -------- */
.Fjalla {
    font-family: 'Fjalla One', sans-serif; 
}
.Foswald {
    font-family: 'Oswald', sans-serif; 
}
.Fraleway {
    font-family: 'Raleway', sans-serif; 
}
.Fmontserrat {
    font-family: 'Montserra', sans-serif;
}
.fat-300 {
    font-weight: 300;
}
.fat-400 {
    font-weight: 400;
}
.fat-700 {
    font-weight: 700;
}
/* ------------------------------------------- */

header {
    height: 60px; 
    width: 100%;
    padding: 0;
    margin: 0;
}

.blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.logo {
    float: left;
    height: 46px;
    width: 132px;
    padding: 24px 0 6px 24px;
}

.link-burger {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.burger {
    float: right;
    margin: 22px 22px 0 0;
    
}
.barre {
    width: 38px;
    margin-top: 10px;
    border: 3px solid rgb(248, 244, 237);
    border-radius: 5px;
}


/* ------- gestion du menu ----------- */
.link-burger:hover .barre {
    border: 3px solid #ed0049;
}

.burger-menu{
    position: absolute;
    background-color: white;
    padding:10px;
    color:rgb(50,50,50);
    top:80px;
    right:50px;
    border-radius: 5px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    display:none;
}

.show-burger .burger-menu{
    display: block;
}

/* ------------------------------------ */

.txt-center-top {
    margin: auto;
    margin-top: 74px;  
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
}


.line-txt {
    display: inline-block;
    width: 69px;
    margin: 0 18px;
    border: 2px solid #ed0049;
    margin-bottom: 10px;
}

.middle {
    margin: auto;
    margin-top: 39px;
    height: 361px;
    width: 758px;
    background-color: rgba(250,250,250,0.5);
    border-radius: 10px;
 /*   box-shadow: 8px 8px 10px grey;  */
}

/* -------------- Partie gauche ------------ */
.left-block {
    display: block;
    float: left;
    margin-top: 33px;
    width: 382px;
    height: 296px;
    border-right: 1px solid #ccc;
 /*   background-color: blanchedalmond; */
}


.titleLeft {
    padding-left: 44px;
    font-size: 28px;
}

.form-left {
    width: 280px;
    margin-top: 30px;
    margin-left:44px;
}

.input-wrappers-left,
.input-wrappers-left-bottom {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 17px 0 25px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.field-input,
.field-input-pwd {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    width: 258px;
    font-size: 16px;
    padding: 7px 10px;
    color: rgb(80, 80, 80);
    border: none;
}
.field-input:before {
    content: none;
    background-image: url("../../../assets/img/icons/mail.png");
    height: 16px;
    width: 16px;
}


.input-icon {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    font-size: 18px; /*  18px */
    color: rgb(110,110,110);
}

.icon-mail:before {
    content: '\e839';
} 

 .label-form  { 
    margin-bottom: -2px; 
    font-family: 'Raleway', sans-serif; 
    font-size: 16px;
    font-weight: 700;
 }

 .input-wrappers-left-bottom {
    margin: 18px 0 18px 0;
 }

 .block-bottom-left {
    display: inline-block;
    height: 60px;
    width: 300px;
    border: 1px solid  blue;
    margin-left: 40px;
 }
 .nb-parrains {
    color: #ed0049;
    font-size: 33px;
 }
 .logo-parrains {
    margin-left: 5px;
 }
.pic-parrains {
    height: 50px;
    width: 50px;
}

/* ----------- partie doite ------------ */
.right-block {
    display: block;
    float: right;
    margin-top: 4px;
    height: 350px;
    width: 366px;
    /* background-color: blanchedalmond; */
}

.form-right,
.form-right-bottom {
    width: 280px; 
    margin-top: 53px;
    margin-left:31px;
}

.input-wrappers-right,
.input-wrappers-right-bottom {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 18px 0 17px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
} 

.field-input-pwd {
    height: 23px;
    padding: 7px 10px;
}

.button-submit {
    width: 280px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 9px 0;
    border-radius: 5px;
    background-color: #ed0049;
    border: none;
}

.form-right-bottom {
    margin-top: 28px;
}

.input-wrappers-right-bottom {
    margin: 18px 0 20px 0;
}