a {
    cursor: pointer;
    text-decoration: none;
}

.page-container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../../../assets/img/bg-learning-1.jpg");
    background-size: cover;
    font-family: "Raleway , sans-serif";
    color: rgb(50,50,50);
}

.page-filter {
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}

/*  ----------- polices de caractères -------- */
.Fjalla {
    font-family: 'Fjalla One', sans-serif; 
}
.Foswald {
    font-family: 'Oswald', sans-serif; 
}
.Fraleway {
    font-family: 'Raleway', sans-serif; 
}
.Fmontserrat {
    font-family: 'Montserra', sans-serif;
}
.fat-300 {
    font-weight: 300;
}
.fat-400 {
    font-weight: 400;
}
.fat-700 {
    font-weight: 700;
}
/* ------------------------------------------- */


.logo {
    position: absolute;
    left: 30px;
    top: 25px;
    height: 46px;
}

img.logo {
    height: 46px;
    width: 127px;
}

.link-burger {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.burger {
    position: absolute;
    left:94%;
    top:22px;
}

.barre {
    width: 38px;
    margin-top: 10px;
    border: 3px solid rgb(248, 244, 237);
    border-radius: 5px;
}

/* ------- gestion du menu ----------- */
.link-burger:hover .barre {
    border: 3px solid #ed0049;
}

.burger-menu{
    position: absolute;
    background-color: white;
    padding: 13px;
    text-transform: uppercase;
    color:rgb(50,50,50);
    top: 93px;
    right: 63px;
    border-radius: 5px;
    line-height: 38px;
    font-size: 13px;
    font-weight: 700;
    display:none;
}

.burger-menu li a:hover {
    color: #ed0049;
}

.burger-icon-level,
.burger-icon-badge,
.burger-icon-langue,
.burger-icon-exit {
    display: block;
    position: absolute;
    right: 164px
}


.icon-level::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/tongs.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    width: 27px; 
    height: 25px;
    margin-top: 7px;
}

.icon-badge::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/backpacking1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    width: 30px; 
    height: 25px;
    margin-top: 7px;
}

.icon-langue::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/travel-map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 30px; 
    height: 25px;
    margin-top: 7px;
}        

.icon-exit::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/exit2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    width: 30px; 
    height: 20px;
    margin-top: 7px;
}

.show-burger .burger-menu{
    display: block;
    padding-left: 50px;
}

.borderLine {
    width: 179px;
    border-bottom: 1px solid #ed0049;
    margin-left: -37px;
    padding: 4px 0;
}

/* ------------------------------------ */

.txt-center-top {
    margin: auto;
    padding-top: 176px;  
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
}


.line-txt {
    display: inline-block;
    width: 69px;
    margin: 0 18px;
    border: 2px solid #ed0049;
    margin-bottom: 10px;
}

.middle {
    margin: auto;
    margin-top: 39px;
    height: 361px;
    width: 758px;
    background-color: rgba(250,250,250,0.8);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);  
}


/* -------------- Partie gauche ------------ */
.left-block {
    display: block;
    position: relative;
    float: left;
    margin-top: 33px;
    width: 382px;
    height: 296px;
    border-right: 1px solid #ccc;
}

.titleLeft {
    padding-left: 44px;
    font-size: 28px;
}

.form-left {
    width: 280px;
    margin-top: 30px;
    margin-left:44px;
}

.input-wrappers-left,
.input-wrappers-left-bottom {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 17px 0 25px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.field-input,
.field-input-good {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    width: 244px;
    font-size: 16px;
    padding: 7px 0 7px 34px;
    color: rgb(80, 80, 80);
    border: none;
}

.field-input-good {
    background-color: rgb(174, 255, 127);
}

.input-icon-mail,
.input-icon-parrain {
    display: block;
    position: absolute;
    top: 98px;
}
.input-icon-parrain {
    top: 191px;
}

.icon-mail:before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/mail.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    width: 30px; 
    height: 20px;
    content:"";
}
.icon-parrain:before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/start.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    width: 30px; 
    height: 20px;
    content:"";
}

 .label-form  { 
    margin-bottom: -2px; 
    font-family: 'Raleway', sans-serif; 
    font-size: 16px;
    font-weight: 700;
 }

 .input-wrappers-left-bottom {
    margin: 18px 0 18px 0;
 }

 .block-bottom-left {
    display: inline-block;
    height: 60px;
    width: 300px;
    margin-left: 40px;
 }
 .nb-parrains {
    color: #ed0049;
    font-size: 33px;
    vertical-align: middle;
 }
 .logo-parrains {
    margin-left: 5px;
 }
.pic-parrains {
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
.text-parrains {
    display: inline-block;
    height: 50px;
    width: 120px;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    vertical-align: middle;
    padding-top: 16px;
    margin-left: 5px;
}

/* ----------- partie doite ------------ */
.right-block {
    display: block;
    position: relative;
    float: right;
    margin-top: 4px;
    height: 350px;
    width: 366px;
}

.form-right-pseudo,
.form-right-pwd {
    width: 280px; 
    margin-top: 35px;
    margin-left:31px;
}


.input-wrappers-right,
.input-wrappers-right-bottom {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 18px 0 17px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
} 

.field-input-pwd {
    display: inline-block;
    vertical-align: middle;
    width: 244px;
    font-size: 16px;
    background-color: transparent;
    padding: 7px 0 7px 34px;
    color: rgb(80, 80, 80);
    border: none;
}


.input-icon-pseudo,
.input-icon-pwd {
    display: block;
    position: absolute;
    top: 72px;
    right: 303px;
}
.input-icon-pwd {
    top: 230px;
}

.icon-pseudo:before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 43px;
    width: 30px; 
    height: 30px;
    content:"";
}
.icon-pwd:before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/cadenas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    width: 30px; 
    height: 20px;
    content:"";
}

.button-submit {
    width: 280px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 9px 0;
    border-radius: 5px;
    background-color: #ed0049;
    border: none;
}

.new-check-pwd {
    background-color: rgb(246, 248, 125);
}
.good-check-pwd {
    background-color: rgb(174, 255, 127);
}
.bad-Check-pwd {
    background-color: rgb(255, 153, 127);
}

.button-submit:hover {
    box-shadow: 3px 3px 5px rgb(56, 55, 55);
}

.form-right-bottom {
    margin-top: 28px;
}

.input-wrappers-right-bottom {
    margin: 18px 0 20px 0;
}