
a {
    text-decoration: none;
}

.page-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../../../assets/img/bg-learning-1.jpg"); 
    background-size: cover;
    font-family: 'Montserrat', sans-serif;

}

.page-filter {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;           
}

.logo {
    position: absolute;
    left: 30px;
    top: 25px;
    height: 46px;
}

.header {
    text-align: right;
    padding: 25px 0px 0px 0px;
}

.header-right li {
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
    font-size: 14px;
    padding: 7px 0px 7px 0px;
    font-family: "raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.header-right li:hover {
    color: #ed0049;
}

.centered-container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 460px;
    text-align: center;
}

.title-container {
    margin: 0 0 40px 0;
    text-align: center;
}

.title-dash {
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    background-color: #ed0049;
    width: 36px;
}

.title {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 36px;
    font-family: "oswald";
    text-transform: uppercase;
    margin: 0 20px;
}

.fb-button {
    padding: 7px 0;
    width: 100%;
    background-color: rgb(59,89,152);
    border-radius: 5px;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icons {
    position: absolute;
}

.icon-facebook::before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/facebook1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px;
    width: 36px; 
    height: 20px;
    padding-top: 16px;
    margin-left: 7px;
    content:"";
}

.fb-button .button-separator {
    width: 2px;
    background-color: white;
    height: 66%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateX(1turn);
    left: 50px;
}

.fb-button-text {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0 10px 30px;
    text-transform: uppercase;
    font-family: "Raleway";
    color: white;
}

.choice-separator-container {
    text-align: center;
    margin: 30px 0;
}

.choice-separator-container .separator {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 3px;
    background-color: white;
}

.choice-separator-container .choice-text {
    display: inline-block;
    vertical-align: middle;
    color: white;
    width: 80px;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}

/* ---- Partie Formulaire -------- */
.input-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 10px 15px;
    margin: 20px 0;
}

/* le trait de droite */
.input-icon-box {
    height: 30px;
    width: 50px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #ed0049;
    position: relative;
}

.icon-mail::before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/mail1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
    width: 41px; 
    height: 20px;
    padding-top: 14px;
    margin-left: -14px;
    content:"";
}

.icon-pseudo::before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/backpacker1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 47px;
    width: 41px; 
    height: 33px;
    margin-left: -14px;
    content:"";
}

.icon-lock::before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/cadenas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px;
    width: 41px; 
    height: 20px;
    padding-top: 13px;
    margin-left: -14px;
    content:"";
}

.bad-mail {
    background-color: rgba(255, 0, 0, 0.5);
}

/* class passé en paramètre */
.field-input  {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    font-size: 20px;
    padding: 5px 10px;
    width: 350px;
    color: rgb(80, 80, 80);
    border: none;
}

/* changement de la couleur du texte */
.field-input-bad {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    font-size: 20px;
    padding: 5px 10px;
    width: 350px;
    border: none;
    color: rgb(250, 250, 250);  
}


input {
   border: 0px solid transparent; 
}
input[type="email"]:focus {
    outline:none;
}
input[type="text"]:focus {
    outline: none;
}
input[type="password"]:focus {
    outline:none;
}

.connect-button {
    border: 2px solid white;
    border-radius: 5px;
    width: 100%;
    padding: 15px 0;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 20px;
}
