a {
    cursor: pointer;
    text-decoration: none;
}

.page-container {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("../../../assets/img/bg-learning-1.jpg");
    background-size: cover;
    font-family: "Raleway , sans-serif";
    color: rgb(50,50,50);
}

.page-filter {
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}


/*  ----------- polices de caractères -------- */
.Fjalla {
    font-family: 'Fjalla One', sans-serif; 
}
.Foswald {
    font-family: 'Oswald', sans-serif; 
}

.Fmontserrat {
    font-family: 'Montserra', sans-serif;
}
.fat-300 {
    font-weight: 300;
}
.fat-400 {
    font-weight: 400;
}
.fat-700 {
    font-weight: 700;
}
/* ------------------------------------------- */

.logo {
    position: absolute;
    left: 30px;
    top: 25px;
    height: 46px;
}

img.logo {
    height: 46px;
    width: 127px;
}

.link-burger {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.burger {
    position: absolute;
    left:94%;
    top:22px;
}

.barre {
    width: 38px;
    margin-top: 10px;
    border: 3px solid rgb(248, 244, 237);
    border-radius: 5px;
}


/* ------- gestion du menu ----------- */
.link-burger:hover .barre {
    border: 3px solid #ed0049;
}

.burger-menu{
    position: absolute;
    background-color: white;
    padding:13px;
    text-transform: uppercase;
    color:rgb(50,50,50);
    top:93px;
    right:63px;
    border-radius: 5px;
    line-height: 38px;
    font-size: 13px;
    font-weight: 700;
    display:none;
}

.burger-menu li a:hover {
    color: #ed0049;
}


.burger-icon-level,
.burger-icon-langue,
.burger-icon-user,
.burger-icon-exit {
    display: block;
    position: absolute;
    right: 164px
}


.icon-level::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/tongs.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    width: 27px; 
    height: 25px;
    margin-top: 7px;
}

.icon-langue::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/travel-map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    width: 30px; 
    height: 25px;
    margin-top: 7px;
}

.icon-user::before {
    content:"";
    display: inline-block;
    background-image: url('../../../assets/img/icons/user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 37px;
    width: 30px; 
    height: 20px;
    margin-top: 7px;
}

.icon-exit::before {
    display: inline-block;
    background-image: url('../../../assets/img/icons/exit2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    width: 30px; 
    height: 20px;
    margin-top: 7px;
    content:"";
}

.show-burger .burger-menu{
    display: block;
    padding-left: 50px;
}

/* ------------------------------------ */

.title {
    margin: auto;
    padding-top: 176px;  
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
}


.line-txt {
    display: inline-block;
    width: 69px;
    margin: 0 18px;
    border: 2px solid #ed0049;
    margin-bottom: 10px;
}

.middle {
    margin: auto;
    margin-top: 39px;
    height: 361px;
    width: 758px;
    background-color: rgba(250,250,250,0.8);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);  
}

/* ----------- Footer --------------- */
.bg-mountains{
    position: absolute;
    bottom: 0px;
    left:0px;
    width:100%;
}

.pseudo {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-family: 'Fjalla One', sans-serif;
    color: #ed0049;
    font-size: 32px;
}
