.page-container{
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/img/bg-blue-learning.jpg");
    background-size: cover;
    font-family: 'Fjalla One', sans-serif;
  /*  font-family: 'Montserrat', sans-serif; */
}

h1 {
  /*  font-size: 48px; */
    font-size: 324px;
    color: rgb(19, 255, 38);
    text-align: center;
    padding-top: 150px;
}

.pseudo {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-family: 'Fjalla One', sans-serif;
    color: #ed0049;
    font-size: 32px;
}