.page-container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    font-family: 'Fjalla One', sans-serif; 
}

h1 {
    font-size: 208px; 
    color: rgb(19, 255, 38);
    text-align: center;
    padding-top: 50px;
}

h2 {
    font-size: 60px;
    color: rgb(1, 143, 13);
    text-align: center;
}

.pseudo {
    font-size: 80px;
    color: #ed0049;
    text-align: center;
    padding-top: 50px
}

.klm-winner,
.klm-revision {
    font-size: 30px;
  /*  color: whitesmoke; */
  color: blueviolet;
    text-align: center;
    padding-top: 60px;  
    padding-bottom: 10px;  
}
.klm-revision {
    padding-bottom: 30px;
}



.next-lesson .lesson,
.next-level .level {
    font-size: 108px;
    color: #ed0049;
}

.klm-revision {
    display: none;
}
.next-level {
    display: none;
}
.previous-lesson {    
    display: none;
}

/* ----------------- parent / enfant ------------ */
.revision .klm-winner {
    display: none;
}
.revision .klm-revision {
    display: block;
}
.revision .next-lesson {
    display: none;
}
.revision .previous-lesson {
    display: block;
}

.okNextLeve .next-level {
    display: block;
}

.btn-center {
    display: flex;
    justify-content: center;
}

 a.next-button,
 a.close-session {  
     display: inline-block;
     width:200px;
     margin-top:50px;
     margin-left:40px;
     text-align: center;
     font-size: 18px;
     text-transform: uppercase;
     font-weight: 700;
     padding:18px 0;
     color:white;
     background-color: blueviolet;
     text-decoration: none; 
     border-radius: 5px;
 }

 a.close-session {
     background-color:  #ed0049;

 }



